<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format:'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
  <% if @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user),class: "pull-right" %></p>
  <% end %>
</div>

